langchain
python-dotenv
langchain-openai
langchain-core
crewai
pymupdf
faiss-cpu
streamlit
langchain_community
PyPDF2
fitz
pyttsx3
langchain-text-splitters
langchain-openai
pydub
ffmpeg
SpeechRecognition
pyaudio
numpy 
sounddevice
wave
scikit-learn
langgraph
PyPDF2
dotenv
portaudio19-dev
pysqlite3-binary
